

.popupprojet {
    display: grid;
    grid-template-rows: 15% auto 2%;
    grid-template-columns: 1% auto 1%;
    background: rgb(191,187,255);
    background: linear-gradient(180deg, rgba(191,187,255,1) 0%, rgba(89,79,255,1) 5%, rgba(51,84,255,1) 100%); 
    border-radius: 8px;
    grid-column: 2 / 5;
    grid-row: 2/ 4;
}

.options {
    background-color: #ebe9d8;
    grid-row: 2/3;
    grid-column: 2/3;
    z-index: 0;
}

.options div {
    display: flex;
    padding: 0 10px;
    align-items: center;
    gap: 15px;
}
.options div p{
    padding: 0 5px;
}
.options div p:hover{
    background-color: #c2c0ac;
}

.options div p::first-letter{
    text-decoration: underline;
}

.popupprojet .infos {
    background-color: #ffffff;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-radius: 2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 10px 20px;

}

.popupprojet .infos .title {
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
    font-weight: 900;
    font-size: 25px;
}

.popupprojet .infos a {
    display: block;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.about {
    grid-row: 1 ;
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}


.about p {
    color: white;
    font-size: 22px;
}

.closeButtonP {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 40px;
    border: 1px solid white;
    margin-right: 10px;
    border-radius: 3px;
    margin-right: 10px;
    background: rgb(255,255,255);
    background: linear-gradient(159deg, rgba(255,255,255,1) 0%, rgba(255,82,82,1) 15%, rgba(255,114,114,1) 100%); 
}

.popupprojet .closeButtonP:active {
  background: rgb(255,255,255);
  background: linear-gradient(159deg, rgba(255,255,255,1) 0%, rgba(255,54,54,1) 19%, rgba(189,0,0,1) 100%); 
}
  
  
.popupprojet .closeButtonP img{
  height:10px;
}



.popupprojet .popupinfo hr {
  margin: 10px 0;
}

.popupprojet hr {
    margin: 10px 0;
  }