
@import url(grid.css);
@import url(footer.css);
@import url(icons.css);
@import url(popupinfo.css);
@import url(popupcontact.css);
@import url(popupprojet.css);

@font-face {
    font-family: xp;
    src: url(../font/fs-tahoma-8px.otf);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: xp;
    user-select: none;
}

body {
    height: 100vh;
    background-image: url(../img/Background.jpg);
    background-repeat: none;
    background-size:cover;
}

ol, ul {
	list-style: none;
}


.none {
    display: none;
    visibility: none;
}

.block {
    display: block;
}


.index {
    z-index: 10;
}

#time {
    font-size: 30px;
    color: white;
}

#current_date {
    font-size: 30px;
    color: white;
}

