
@import url(grid.css);
@import url(footer.css);
@import url(icons.css);
@import url(popupinfo.css);
@import url(popupcontact.css);
@import url(popupprojet.css);

@font-face {
    font-family: xp;
    src: url(../font/fs-tahoma-8px.otf);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: xp;
    user-select: none;
}

body {
    height: 100vh;
    background-color:  #5a7edf;
    background-repeat: none;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

ol, ul {
	list-style: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 400px;
    background: rgb(191,187,255);
    background: linear-gradient(180deg, rgb(153, 146, 255) 0%, rgba(89,79,255,1) 5%, rgba(51,84,255,1) 100%); 
}


.top {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: white;
    font-size: 20px;
}

.linput {
    align-items: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: rgb(133,159,233);
    background: radial-gradient(circle, rgba(133,159,233,1) 0%, rgba(172,192,251,1) 0%, rgba(133,159,233,1) 100%); 
    border: solid 5px rgba(51,84,255,1);

}

label {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
